/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

resources/views/Menus
resources/views/borrador.js
resources/views/GUIA.txt
resources/views/bootbox.blade.php

resources/views/latouts/layout2.blade.php