/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

resources/views/Menus
resources/views/borrador.js
resources/views/GUIA.txt
resources/views/bootbox.blade.php
resources/views/layouts/layout2.blade.php

/public/js/larav_ajax.js
resources/views/crud_larav-ajax/index2.blade.php
resources/views/selecDinami.blade.php
resources/views/PublicPost/Post-list2.blade.php