body {
	background:#FFFFFA;
  font-size: 2rem;
}




.form{font-size: 2rem;}
.form-In{ width: 100%; background-color: #eee; font-size: 1rem; padding:10px;}
.group{border-style: inset; 
   border-color: #c0c0c0;
   padding: 1%;
   height: auto; 
   margin-top:2%; 
   margin-left:1%; 
   text-align: justify; }

.img-tam{width:80%; height:30%; }

.font{ font-size: 3rem; }
.navPers{background:   #cecdd1 ;  margin: 0;}

.marg-comp{margin-top: 10%}


thead{font-size: 2.5rem; }

.td-desc{font-family: all; font-size: 1.5rem; text-align: justify-all; padding-left: 50%; padding-right: 5%;}
.td-tit{font-weight: bold;}
.td-i{background:  #c7d1c7 ; font-weight: bold;}
.table-borde{border:solid 1px; border-color:  #a1a0a4 }
.crud{width: 12%; height:auto;}
.actions-td {
 white-space: nowrap;
 width: 1px;
}

.img-post{width: 50; height: 10; }
.search{padding: 2%; color: #B0DFDC; width: 20%; }
.public-Ah{background: blue; color: #fff; padding: 2%; font-weight: bold; font-size: 2rem;}





